.tree-node {
  display: flex;
  align-items: center;
  height: 36px;
  cursor: pointer;
}

.chevron {
  width: 16px;
  color: #888;
}

.icon {
  width: 20px;
  margin-right: 6px;
}

.label {
  flex: 1;
  font-size: 14px;
}

.actions {
  display: none;
}

.tree-node:hover .actions {
  display: inline-flex;
  gap: 4px;
}


/* input box css */
.add-input {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 4px 0;
}

.add-input input {
  height: 26px;
  font-size: 13px;
  padding: 2px 6px;
  width: 140px;
}

.add-input button {
  height: 26px;
  cursor: pointer;
}
