/* .level-card {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 12px;
  padding: 16px;
  gap: 16px;
} */

.level-info {
  display: flex;
  flex-direction: row;
  gap: 120px;
  min-width: 160px;
}

/* .level-header {
  font-size: 22px;
  font-weight: 600;
  color: #1a64b0;
}

.level-value {
  font-size: 55px;
  font-weight: 700;
  color: #1a64b0;
} */

.level-subtext {
  font-size: 14px;
  color: #2673c2;
  font-weight: 500;
}

.level-location {
  font-size: 17px;
  color: #444;
  line-height: 1.4;
}

.chart-placeholder {
  flex: 1;
  display: flex;
  align-items: end;
  justify-content: center;
}

.chart {
  width: 100%;
  height: 160px;
  min-width: 400px;
}
.tabs {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 45px;
}

.tabs button {
  padding: 6px 12px;
  border: none;
  border-radius: 10px;
  background-color: #f0f4f9;
  color: #1a64b0;
  cursor: pointer;
  font-weight: 600;
  font-size: 13px;
  transition: all 0.2s;
}

.tabs button.active {
  background-color: #1a64b0;
  color: white;
}
.chart-wrapper {
  width: 100%;
  height: 250px;
}

.chart {
  width: 100%;
  height: 100%;
}
