<div class="dashboard-grid">
  <!-- Row 1 -->
  <!-- <div class="card card-orange">Temperature<br />72°C</div>
  <div class="card card-blue">Pressure<br />50 psi</div>
  <div class="card card-red">Level<br />4%</div>
  <div class="card card-blue-light">Level<br />40%<br />Line Chart</div>
  <div class="card card-orange">Level<br />18%</div> -->

  <!-- Row 2 -->
  <div class="card card-blue">
    
        <app-live-temp-chart></app-live-temp-chart>

    
  </div>
  <div class="card card-blue">Level<br />40%<br />Text + Data</div>
  <div class="card card-blue">Yearly Utilization<br />Calendar Heatmap</div>
  <div class="card card-blue">Level<br />30%</div>

  <!-- Row 3 -->
  <div class="card card-blue">Temperature<br />Calendar Heatmap</div>
  <div class="card card-blue-light">Pressure<br />Gauge Chart</div>
  <div class="card card-orange">Noise<br />50 dB</div>
  <div class="card card-blue-light">LUX<br />450 LUX</div>
  <div class="card card-blue">Level<br />54%</div>

  <!-- Row 4 -->
  <!-- <div class="card card-blue-light">Proximity<br />Bar Chart</div>
  <div class="card card-blue-light">Proximity Activity<br />Timeline</div>
  <div class="card card-blue-light">Pressure<br />200 psi</div>
  <div class="card card-blue-light">Pressure<br />750 psi</div> -->
</div>
