<div
    class="sidebar-area bg-white active"
    [ngClass]="{'active': isSidebarToggled}"
    [class.component-dark-theme]="themeService.isDark()"
    [class.dark-sidebar]="themeService.isSidebarDark()"
    [class.right-sidebar]="themeService.isRightSidebar()"
    [class.hide-sidebar]="themeService.isHideSidebar()"
    [class.card-borderd-theme]="themeService.isCardBorder()"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <div class="logo bg-white">
        <a routerLink="/" class="d-flex align-items-center">
            <img src="assets/images/poweroptimus-logo.png" alt="logo-icon">
            <!-- <span class="fw-semibold">Daxa</span> -->
        </a>
    </div>
    <div
        (click)="toggle()"
        class="burger-menu"
        [ngClass]="{'active': isSidebarToggled}"
    >
        <span class="top-bar"></span>
        <span class="middle-bar"></span>
        <span class="bottom-bar"></span>
    </div>
    <ng-scrollbar visibility="hover">
        <div class="sidebar-inner">
            <div class="sidebar-menu">
                <!-- <mat-accordion>
                    <span class="sub-title text-body">
                        Neilsoft
                    </span>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="material-symbols-outlined">
                                    dashboard
                                </i>
                                <span class="title">
                                    SEZ campus
                                </span>
                                
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Admin Building
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/crm" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Operations Building
                                </a>
                            </li>
                            
                        </ul>
                    </mat-expansion-panel>
                    
                </mat-accordion> -->

                <!-- start -->
                <!-- <mat-accordion multi>

        
        <span class="sub-title text-body">
            {{ siteData.Name }}
        </span>
        
        
        <mat-expansion-panel *ngFor="let facility of siteData.Facilities" class="sidebar-accordion">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i class="material-symbols-outlined">
                        business
                    </i>
                    <span class="title">
                        {{ facility.Name }}
                    </span>
                </mat-panel-title>
            </mat-expansion-panel-header>
        
           
            <mat-accordion class="nested-accordion" multi>
                <mat-expansion-panel *ngFor="let floor of facility.Floors">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <i class="material-symbols-outlined">
                                layers
                            </i>
                            <span class="title">
                                {{ floor.Floor_Number }}
                            </span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
        
                    
                    <ul class="sidebar-sub-menu">
                        <button (click)="onClick()" style="border: 0;">
                            <li class="sidemenu-item" *ngFor="let loc of floor.Location">
                            <a routerLink="/" routerLinkActive="active" class="sidemenu-link">
                                {{ loc.Name || 'N/A' }}
                            </a>
                        </li>
                        </button>
                        
                    </ul>
        
                </mat-expansion-panel>
            </mat-accordion>
        
        </mat-expansion-panel>
        
        </mat-accordion> -->
        <!-- end -->


        <!-- <mat-accordion class="nested-accordion" multi>
        
            <mat-expansion-panel *ngFor="let city of siteData.City">
        
                <mat-accordion class="nested-accordion" multi>
        
        
                    <mat-expansion-panel *ngFor="let facility of city.Facilities" class="sidebar-accordion">
        
        
        
                        <mat-accordion class="nested-accordion" multi>
                            <mat-expansion-panel *ngFor="let floor of facility.Floors">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <i class="material-symbols-outlined">
                                            layers
                                        </i>
                                        <span class="title">
                                            {{ floor.Floor_Number }}
                                        </span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
        
        
                                <ul class="sidebar-sub-menu">
                                    <button (click)="onClick()" style="border: 0;">
                                        <li class="sidemenu-item" *ngFor="let loc of floor.Location">
                                            <a routerLink="/" routerLinkActive="active" class="sidemenu-link">
                                                {{ loc.Name || 'N/A' }}
                                            </a>
                                        </li>
                                    </button>
        
                                </ul>
        
                            </mat-expansion-panel>
                        </mat-accordion>
        
                    </mat-expansion-panel>
        
                </mat-accordion>
        
        
        
            </mat-expansion-panel>
        
        
        
        </mat-accordion> -->

        
        <!-- start latest -->
        <!-- <mat-accordion multi>
            <span class="sub-title text-body">
                ({{ siteData.Country }})
            </span>         
            <mat-expansion-panel *ngFor="let city of siteData.City">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <i class="material-symbols-outlined">location_city</i>
                        <span class="title">{{ city.Name }}</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
        
        
                <mat-accordion multi *ngIf="city.Facilities?.length">
                    <mat-expansion-panel *ngFor="let facility of city.Facilities">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="material-symbols-outlined">business</i>
                                <span class="title">{{ facility.Name }}</span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
        
        
                        <mat-accordion multi>
                            <mat-expansion-panel *ngFor="let floor of facility.Floors">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <i class="material-symbols-outlined">layers</i>
                                        <span class="title">{{ floor.Floor_Number }}</span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
        
        
                                <ul class="sidebar-sub-menu">
                                    <li class="sidemenu-item" *ngFor="let loc of floor.Location">
        
                                        <button (click)="onClick()" class="sidemenu-link" style="border: 0;">
                                            {{ loc.Name }}
                                        </button>
                                    </li>
                                </ul>
        
                            </mat-expansion-panel>
                        </mat-accordion>
        
                    </mat-expansion-panel>
                </mat-accordion>
        
            </mat-expansion-panel>
        
        </mat-accordion> -->
        <!-- end -->

                <div class="sidebar">
                
                    <h4>All Sites</h4>
                
                    <!-- ROOT LEVEL -->
                    <app-tree-nodes *ngFor="let node of treeData" [node]="node" (nodeSelected)="nodeSelected($event)">
                    </app-tree-nodes>
                
                </div>

                    
  


            </div>
        </div>
    </ng-scrollbar>
</div>