<div class="level-card">
  <!-- Left side info -->
  <div class="level-info">
    <div class="level-header">
      <i class="ri-temp-hot-fill"></i>
      <span class="title">Level</span>
    </div>

    <div class="level-value">40%</div>
    <div class="level-subtext">(13 L Remain)</div>
    <div class="level-location">
      Reservoir A,<br />
      Utility Room, Main Plant
    </div>
  </div>

  <!-- Right side chart -->
  <div class="chart-placeholder">
    <div #chartContainer class="chart"></div>
  </div>
</div>
