.chart-container{
    width: 100%; 
    /* height: 400px; */
    height: 200px;
    
}

/* :host {
  display: block;
  width: 100%;
  height: 100%;
}

.chart-container {
  width: 100%;
  height: 100%;
} */