<div class="card large temp-card">

  <!-- HEADER -->
  <div class="temp-header">
    <div class="temp-title">❄ Energy</div>

    <div class="temp-tabs" *ngIf="timeInterval">
      <button *ngIf="dailyInterval"
        [class.active]="selectedView === 'D'"
        (click)="changeView('D')">D</button>

      <button *ngIf="weeklyInterval"
        [class.active]="selectedView === 'W'"
        (click)="changeView('W')">W</button>

        <button *ngIf="monthlyInterval"
        [class.active]="selectedView === 'M'"
        (click)="changeView('M')">M</button>

        <button *ngIf="yearlyInterval"
        [class.active]="selectedView === 'Y'"
        (click)="changeView('Y')">Y</button>
    </div>
  </div>

  <!-- CHART AREA -->
  <div class="chart-content">

    @switch (chartName) {
      @case ('heatmap') {
          <!-- WEEKLY (placeholder for now) -->
    <div *ngIf="selectedView === 'W'" class="temp-chart-slot">
      <!-- <div class="week-label">Weekly view coming</div> -->
       <app-heatmap-two
        [visible]="true"
        [xAxisLabels]="WEEKLY_X"
        [yAxisLabels]="WEEKLY_Y"
        [heatmapData]="WEEKLY_HEATMAP_DATA"
         [xName]="'Days'"
        [yName]="'Floors'">
      </app-heatmap-two>

      

    </div>

    <div *ngIf="selectedView === 'M'" class="temp-chart-slot">
      <!-- <div class="week-label">Weekly view coming</div> -->
       <app-heatmap-two
        [visible]="true"
        [xAxisLabels]="MONTHLY_X"
        [yAxisLabels]="MONTHLY_Y"
        [heatmapData]="MONTHLY_HEATMAP_DATA"
        [xName]="'Days'"
        [yName]="'Week'">
      </app-heatmap-two>
    </div>

    <div *ngIf="selectedView === 'Y'" class="temp-chart-slot">
      <!-- <div class="week-label">Weekly view coming</div> -->
       <app-heatmap-two
        [visible]="true"
        [xAxisLabels]="YEARLY_X"
        [yAxisLabels]="YEARLY_Y"
        [heatmapData]="YEARLY_HEATMAP_DATA"
        [xName]="'Month'"
        [yName]="'Years'"
        >
      </app-heatmap-two>
    </div>
      }

      <!-- sankey -->
      @case ('sankey') {
      
      
      <div *ngIf="selectedView === 'D'" class="temp-chart-slot">
      
        <app-sankey [data]="sankeyData" [links]="sankeyLinks"></app-sankey>
      
      
      
      </div>
      
      <div *ngIf="selectedView === 'W'" class="temp-chart-slot">
      
        <app-sankey [data]="sankeyData" [links]="sankeyLinks"></app-sankey>
      
      
      
      </div>
      
      <div *ngIf="selectedView === 'M'" class="temp-chart-slot">
        <app-sankey [data]="sankeyData" [links]="sankeyLinks"></app-sankey>
      
      
      </div>
      
      <div *ngIf="selectedView === 'Y'" class="temp-chart-slot">
        <app-sankey [data]="sankeyData" [links]="sankeyLinks"></app-sankey>
      
      </div>
      }

      @case ('calender-pie') {
        <app-calendar-pie
  [range]="'2025-07'"
  [categories]="['Work','Entertainment','Sleep']"
  [calendarData]="[
  {
    date: '2025-07-01',
    values: [
      { name: 'Work', value: 8 },
      { name: 'Entertainment', value: 4 },
      { name: 'Sleep', value: 12 }
    ]
  },
  {
    date: '2025-07-02',
    values: [
      { name: 'Work', value: 10 },
      { name: 'Entertainment', value: 2 },
      { name: 'Sleep', value: 12 }
    ]
  }
]">
</app-calendar-pie>

    



      }
      

      <!-- referer of website pie -->
        @case ('referer-of-website-pie-large') {


         <div *ngIf="selectedView === 'D'" class="temp-chart-slot">
      
                    <app-referer-of-website-pie-large-card
            [data]="[
              { value: 2500, name: 'Ground Floor' },
              { value: 2200, name: '1st Floor' },
              { value: 1900, name: '2nd Floor' },
              { value: 1600, name: '3rd Floor' },
              { value: 1100, name: '4th Floor' }
            ]">
          </app-referer-of-website-pie-large-card>

      

    </div>
         
    <div *ngIf="selectedView === 'W'" class="temp-chart-slot">
      
          <app-referer-of-website-pie-large-card
            [data]="[
              { value: 2500, name: 'Ground Floor' },
              { value: 2200, name: '1st Floor' },
              { value: 1900, name: '2nd Floor' },
              { value: 1600, name: '3rd Floor' },
              { value: 1100, name: '4th Floor' }
            ]">
          </app-referer-of-website-pie-large-card>

      

    </div>

    <div *ngIf="selectedView === 'M'" class="temp-chart-slot">
          
      <app-referer-of-website-pie-large-card
            [data]="[
              { value: 2500, name: 'Ground Floor' },
              { value: 2200, name: '1st Floor' },
              { value: 1900, name: '2nd Floor' },
              { value: 1600, name: '3rd Floor' },
              { value: 1100, name: '4th Floor' }
            ]">
          </app-referer-of-website-pie-large-card>
       
    </div>

    <div *ngIf="selectedView === 'Y'" class="temp-chart-slot">
          <app-referer-of-website-pie-large-card
            [data]="[
              { value: 2500, name: 'Ground Floor' },
              { value: 2200, name: '1st Floor' },
              { value: 1900, name: '2nd Floor' },
              { value: 1600, name: '3rd Floor' },
              { value: 1100, name: '4th Floor' }
            ]">
          </app-referer-of-website-pie-large-card>
      
    </div>
      }


      <!-- pie with padAngle large card( ex Sensor Type Distribution) -->
        @case ('pie-with-padAngle-large') {


         <div *ngIf="selectedView === 'D'" class="temp-chart-slot">
      
                   <app-pie-with-padAngle-large-card
      [chartTitle]="'Energy Sources'"
      [padAngle]="6"
      [borderRadius]="12"
      [innerRadius]="'45%'"
      [outerRadius]="'75%'"
          [chartData]="[
  {
    value: 180,
    name: 'Temperature'
  },
  {
    value: 140,
    name: 'Humidity'
  },
  {
    value: 120,
    name: 'Energy'
  },
  {
    value: 90,
    name: 'CO₂'
  },
  {
    value: 60,
    name: 'Illuminance'
  }
]">
    </app-pie-with-padAngle-large-card> 

      

    </div>
         
    <div *ngIf="selectedView === 'W'" class="temp-chart-slot">
      
          
      <app-pie-with-padAngle-large-card
      [chartTitle]="'Energy Sources'"
      [padAngle]="6"
      [borderRadius]="12"
      [innerRadius]="'45%'"
      [outerRadius]="'75%'"
          [chartData]="[
  {
    value: 180,
    name: 'Temperature'
  },
  {
    value: 140,
    name: 'Humidity'
  },
  {
    value: 120,
    name: 'Energy'
  },
  {
    value: 90,
    name: 'CO₂'
  },
  {
    value: 60,
    name: 'Illuminance'
  }
]">
    </app-pie-with-padAngle-large-card>
      

    </div>

    <div *ngIf="selectedView === 'M'" class="temp-chart-slot">
          

      <app-pie-with-padAngle-large-card
      [chartTitle]="'Energy Sources'"
      [padAngle]="6"
      [borderRadius]="12"
      [innerRadius]="'45%'"
      [outerRadius]="'75%'"
          [chartData]="[
  {
    value: 180,
    name: 'Temperature'
  },
  {
    value: 140,
    name: 'Humidity'
  },
  {
    value: 120,
    name: 'Energy'
  },
  {
    value: 90,
    name: 'CO₂'
  },
  {
    value: 60,
    name: 'Illuminance'
  }
]">
    </app-pie-with-padAngle-large-card>
      
       
    </div>

    <div *ngIf="selectedView === 'Y'" class="temp-chart-slot">
      
        <app-pie-with-padAngle-large-card
      [chartTitle]="'Energy Sources'"
      [padAngle]="6"
      [borderRadius]="12"
      [innerRadius]="'45%'"
      [outerRadius]="'75%'"
          [chartData]="[
  {
    value: 180,
    name: 'Temperature'
  },
  {
    value: 140,
    name: 'Humidity'
  },
  {
    value: 120,
    name: 'Energy'
  },
  {
    value: 90,
    name: 'CO₂'
  },
  {
    value: 60,
    name: 'Illuminance'
  }
]">
    </app-pie-with-padAngle-large-card>

      
    </div>
      }

      <!-- from left to right tree -->
        @case ('from-left-to-right-tree-large-card') {


         <div *ngIf="selectedView === 'D'" class="temp-chart-slot">
      
                    <app-from-left-to-right-tree-large-card
  [title]="'Building Hierarchy'"
  [treeData]="{
  name: 'Energy Plant',
  children: [
    {
      name: 'Solar Farm',
      children: [
        { name: 'Inverter 1' },
        { name: 'Inverter 2' },
        { name: 'Inverter 3' }
      ]
    },
    {
      name: 'Wind Farm',
      children: [
        { name: 'Turbine 1' },
        { name: 'Turbine 2' },
        { name: 'Turbine 3' }
      ]
    },
    {
      name: 'Battery Storage',
      children: [
        { name: 'Battery Rack A' },
        { name: 'Battery Rack B' }
      ]
    }
  ]
}">
</app-from-left-to-right-tree-large-card>

      

    </div>
         
    <div *ngIf="selectedView === 'W'" class="temp-chart-slot">
      
         <app-from-left-to-right-tree-large-card
  [title]="'Building Hierarchy'"
  [treeData]="{
  name: 'Energy Plant',
  children: [
    {
      name: 'Solar Farm',
      children: [
        { name: 'Inverter 1' },
        { name: 'Inverter 2' },
        { name: 'Inverter 3' }
      ]
    },
    {
      name: 'Wind Farm',
      children: [
        { name: 'Turbine 1' },
        { name: 'Turbine 2' },
        { name: 'Turbine 3' }
      ]
    },
    {
      name: 'Battery Storage',
      children: [
        { name: 'Battery Rack A' },
        { name: 'Battery Rack B' }
      ]
    }
  ]
}">
</app-from-left-to-right-tree-large-card>

      

    </div>

    <div *ngIf="selectedView === 'M'" class="temp-chart-slot">
          
      <app-from-left-to-right-tree-large-card
  [title]="'Building Hierarchy'"
  [treeData]="{
  name: 'Energy Plant',
  children: [
    {
      name: 'Solar Farm',
      children: [
        { name: 'Inverter 1' },
        { name: 'Inverter 2' },
        { name: 'Inverter 3' }
      ]
    },
    {
      name: 'Wind Farm',
      children: [
        { name: 'Turbine 1' },
        { name: 'Turbine 2' },
        { name: 'Turbine 3' }
      ]
    },
    {
      name: 'Battery Storage',
      children: [
        { name: 'Battery Rack A' },
        { name: 'Battery Rack B' }
      ]
    }
  ]
}">
</app-from-left-to-right-tree-large-card>
     
       
    </div>

    <div *ngIf="selectedView === 'Y'" class="temp-chart-slot">
         
        <app-from-left-to-right-tree-large-card
  [title]="'Building Hierarchy'"
  [treeData]="{
  name: 'Energy Plant',
  children: [
    {
      name: 'Solar Farm',
      children: [
        { name: 'Inverter 1' },
        { name: 'Inverter 2' },
        { name: 'Inverter 3' }
      ]
    },
    {
      name: 'Wind Farm',
      children: [
        { name: 'Turbine 1' },
        { name: 'Turbine 2' },
        { name: 'Turbine 3' }
      ]
    },
    {
      name: 'Battery Storage',
      children: [
        { name: 'Battery Rack A' },
        { name: 'Battery Rack B' }
      ]
    }
  ]
}">
</app-from-left-to-right-tree-large-card>
      
    </div>
      }

      <!-- Graph Dynamic ( ex Sensor Type Distribution/"Am I trying to show who is connected to whom?") -->
        @case ('graph-dynamic-large-card') {


         <div *ngIf="selectedView === 'D'" class="temp-chart-slot">

          <app-graph-dynamic-large-card
  [title]="'Sensor Network'"
  [nodes]="[
  {
    id: 'Grid',
    name: 'Grid',
    symbolSize: 70
  },
  {
    id: 'Solar',
    name: 'Solar'
  },
  {
    id: 'MainPanel',
    name: 'Main Panel'
  },
  {
    id: 'Floor1',
    name: 'Floor 1'
  },
  {
    id: 'Floor2',
    name: 'Floor 2'
  },
  {
    id: 'HVAC',
    name: 'HVAC'
  },
  {
    id: 'Lighting',
    name: 'Lighting'
  }
]"
  [links]="[
  { source: 'Grid', target: 'MainPanel' },
  { source: 'Solar', target: 'MainPanel' },
  { source: 'MainPanel', target: 'Floor1' },
  { source: 'MainPanel', target: 'Floor2' },
  { source: 'Floor1', target: 'HVAC' },
  { source: 'Floor1', target: 'Lighting' }
]"
>
</app-graph-dynamic-large-card>
                    

      

    </div>
         
    <div *ngIf="selectedView === 'W'" class="temp-chart-slot">
      
         

      

    </div>

    <div *ngIf="selectedView === 'M'" class="temp-chart-slot">
          
      
     
       
    </div>

    <div *ngIf="selectedView === 'Y'" class="temp-chart-slot">
         
        
      
    </div>
      }

      <!-- Force Layout ( ex Sensor Type Distribution/"Am I trying to show who is connected to whom?") -->
        @case ('force-layout-large-card') {


         <div *ngIf="selectedView === 'D'" class="temp-chart-slot">

                    <app-force-layout-large-card
  [title]="'Energy Distribution Network'"
  [nodes]="[
  {
    id: 'Grid',
    name: 'Grid',
    symbolSize: 60,
    itemStyle: {
      color: '#006DBC'
    }
  },
  {
    id: 'Floor 1',
    name: 'Floor 1',
    symbolSize: 45
  },
  {
    id: 'Floor 2',
    name: 'Floor 2',
    symbolSize: 45
  },
  {
    id: 'HVAC',
    name: 'HVAC',
    symbolSize: 35
  },
  {
    id: 'Lighting',
    name: 'Lighting',
    symbolSize: 35
  }
]"
  [links]="[
  {
    source: 'Grid',
    target: 'Floor 1'
  },
  {
    source: 'Grid',
    target: 'Floor 2'
  },
  {
    source: 'Floor 1',
    target: 'HVAC'
  },
  {
    source: 'Floor 2',
    target: 'Lighting'
  }
]"
  [repulsion]="400"
  [edgeLength]="150"
  [height]="'500px'">
</app-force-layout-large-card>          

      

    </div>
         
    <div *ngIf="selectedView === 'W'" class="temp-chart-slot">
      
         

      

    </div>

    <div *ngIf="selectedView === 'M'" class="temp-chart-slot">
          
      
     
       
    </div>

    <div *ngIf="selectedView === 'Y'" class="temp-chart-slot">
         
        
      
    </div>
      }

      <!-- Calendar Heatmap ( ex Sensor Type Distribution/"Am I trying to show who is connected to whom?") -->
        @case ('calender-heatmap-large-card') {

    <div *ngIf="selectedView === 'M'" class="temp-chart-slot">
          
       <app-calender-heatmap-large-card
  [title]="'CO₂ Calendar Heatmap'"
  [year]="'2026'"
  [chartData]="[
  { date: '2026-01-01', value: 420 },
  { date: '2026-01-02', value: 435 },
  { date: '2026-01-03', value: 450 },
  { date: '2026-01-04', value: 510 },
  { date: '2026-01-05', value: 620 },
  { date: '2026-01-06', value: 780 },
  { date: '2026-01-07', value: 900 },
  { date: '2026-01-08', value: 850 },
  { date: '2026-01-09', value: 760 },
  { date: '2026-01-10', value: 690 },
  { date: '2026-01-11', value: 530 },
  { date: '2026-01-12', value: 470 },
  { date: '2026-01-13', value: 440 },
  { date: '2026-01-14', value: 425 },
  { date: '2026-01-15', value: 410 },
  { date: '2026-01-16', value: 395 },
  { date: '2026-01-17', value: 430 },
  { date: '2026-01-18', value: 520 },
  { date: '2026-01-19', value: 680 },
  { date: '2026-01-20', value: 820 },
  { date: '2026-01-21', value: 980 },
  { date: '2026-01-22', value: 940 },
  { date: '2026-01-23', value: 760 },
  { date: '2026-01-24', value: 620 },
  { date: '2026-01-25', value: 540 },
  { date: '2026-01-26', value: 490 },
  { date: '2026-01-27', value: 460 },
  { date: '2026-01-28', value: 430 },
  { date: '2026-01-29', value: 410 },
  { date: '2026-01-30', value: 390 },
  { date: '2026-01-31', value: 380 },
  { date: '2026-02-01', value: 980 }

]">
</app-calender-heatmap-large-card>    
     
       
    </div>

    <div *ngIf="selectedView === 'Y'" class="temp-chart-slot">
         
         <app-calender-heatmap-large-card
  [title]="'CO₂ Calendar Heatmap'"
  [year]="'2026'"
  [chartData]="[
  { date: '2026-01-01', value: 420 },
  { date: '2026-01-02', value: 435 },
  { date: '2026-01-03', value: 450 },
  { date: '2026-01-04', value: 510 },
  { date: '2026-01-05', value: 620 },
  { date: '2026-01-06', value: 780 },
  { date: '2026-01-07', value: 900 },
  { date: '2026-01-08', value: 850 },
  { date: '2026-01-09', value: 760 },
  { date: '2026-01-10', value: 690 },
  { date: '2026-01-11', value: 530 },
  { date: '2026-01-12', value: 470 },
  { date: '2026-01-13', value: 440 },
  { date: '2026-01-14', value: 425 },
  { date: '2026-01-15', value: 410 },
  { date: '2026-01-16', value: 395 },
  { date: '2026-01-17', value: 430 },
  { date: '2026-01-18', value: 520 },
  { date: '2026-01-19', value: 680 },
  { date: '2026-01-20', value: 820 },
  { date: '2026-01-21', value: 980 },
  { date: '2026-01-22', value: 940 },
  { date: '2026-01-23', value: 760 },
  { date: '2026-01-24', value: 620 },
  { date: '2026-01-25', value: 540 },
  { date: '2026-01-26', value: 490 },
  { date: '2026-01-27', value: 460 },
  { date: '2026-01-28', value: 430 },
  { date: '2026-01-29', value: 410 },
  { date: '2026-01-30', value: 390 },
  { date: '2026-01-31', value: 380 },
  { date: '2026-02-01', value: 980 }

]">
</app-calender-heatmap-large-card>    
      
    </div>
      }

      <!-- Doughnut Chart -->
        @case ('doughnut-chart-large-card') {


         <div *ngIf="selectedView === 'D'" class="temp-chart-slot">

               <app-doughnut-chart-large-card
  [title]="'Sensor Distribution'"
  [centerText]="''"
  [data]="[
  {
    value: 25,
    name: 'Temperature',
    
  },
  {
    value: 18,
    name: 'Humidity'
  },
  {
    value: 12,
    name: 'CO₂'
  },
  {
    value: 9,
    name: 'Energy'
  },
  {
    value: 6,
    name: 'Lux'
  }
]">
</app-doughnut-chart-large-card>

      

    </div>
         
    <div *ngIf="selectedView === 'W'" class="temp-chart-slot">
      
         

      

    </div>

    <div *ngIf="selectedView === 'M'" class="temp-chart-slot">
          
      
     
       
    </div>

    <div *ngIf="selectedView === 'Y'" class="temp-chart-slot">
         
        
      
    </div>
      }


      <!-- basic candleStick -->
        @case ('basic-candleStick') {


         <div *ngIf="selectedView === 'D'" class="temp-chart-slot">

          <app-basicCandlestick-large-card [xAxisData]="[
            '10:00',
            '10:05',
            '10:10',
            '10:15',
            '10:20',
            '10:25'
          ]" [chartData]="[
          
            [120, 130, 118, 136],
          
            [130, 122, 120, 138],
          
            [122, 145, 120, 150],
          
            [145, 138, 134, 152],
          
            [138, 155, 135, 160],
          
            [155, 148, 145, 162]
          
          ]">
          </app-basicCandlestick-large-card>

    </div>
         
    <div *ngIf="selectedView === 'W'" class="temp-chart-slot">
      
         <app-basicCandlestick-large-card [xAxisData]="[
            '10:00',
            '10:05',
            '10:10',
            '10:15',
            '10:20',
            '10:25'
          ]" [chartData]="[
          
            [120, 130, 118, 136],
          
            [130, 122, 120, 138],
          
            [122, 145, 120, 150],
          
            [145, 138, 134, 152],
          
            [138, 155, 135, 160],
          
            [155, 148, 145, 162]
          
          ]">
          </app-basicCandlestick-large-card>

      

    </div>
      }

      <!-- line chart D | W | M | Y -->
        @case ('advance-line-chart') {
        
        
        <div *ngIf="selectedView === 'D'" class="temp-chart-slot">


          <app-advance-line-chart [xAxisData]="['12AM','3AM','6AM','9AM','12PM']" [seriesData]="[22, 24, 23, 26, 25]"
            xName="Hour" yName="Per%"></app-advance-line-chart>
        
        
        </div>
        
        <div *ngIf="selectedView === 'W'" class="temp-chart-slot">
        
        <app-advance-line-chart [xAxisData]="['12AM','3AM','6AM','9AM','12PM']" [seriesData]="[22, 24, 23, 26, 25]"
            xName="Hour" yName="Per%"></app-advance-line-chart>
        
        
        
        </div>
        
        <div *ngIf="selectedView === 'M'" class="temp-chart-slot">
        
        <app-advance-line-chart [xAxisData]="['12AM','3AM','6AM','9AM','12PM']" [seriesData]="[22, 24, 23, 26, 25]"
            xName="Hour" yName="Per%"></app-advance-line-chart>
        
        
        </div>
        
        <div *ngIf="selectedView === 'Y'" class="temp-chart-slot">
        
        <app-advance-line-chart [xAxisData]="['12AM','3AM','6AM','9AM','12PM']" [seriesData]="[22, 24, 23, 26, 25]"
            xName="Hour" yName="Per%"></app-advance-line-chart>
        
        </div>
        }
    }
    

            

    

  </div>




  <!-- FOOTER -->
  <div class="temp-footer">
    <!-- <div class="summary">Max 40°C | Avg 24°C | Min 18°C</div> -->
    <div class="location">Incubator B, Research Lab</div>
    <div class="location">(20-05-2026)</div>
  </div>

</div>
