.temp-card {
  height: 420px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  /* gap: 12px; */
}

.temp-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.temp-title {
  font-size: 26px;
  font-weight: 600;
  color: #1a73e8;
}

.temp-tabs {
  display: flex;
  gap: 5px;
}

.temp-tabs button {
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  background: #eef3f8;
}

.temp-tabs .active {
  background: #1a73e8;
  color: white;
}

.chart-content {
  flex: 1;
  min-height: 260px;
}

.temp-chart-slot {
  width: 100%;
  height: 100%;
  min-height: 240px;
}

.temp-footer {
  margin: 10px 0px;
  text-align: center;
  font-size: 15px;
}
