<div class="card small kpi-card">

  <div class="kpi-header">
    <span class="kpi-icon">
      <i class="ri-temp-hot-fill"></i>
    </span>
    <span class="kpi-title">{{metric}}</span>
  </div>

  <div class="kpi-value">
    <span class="value">{{value}}</span>
    <span class="unit">{{unit}}</span>
  </div>

  <div class="kpi-location">
    
    {{location}}
  </div>

  <div class="kpi-location">
    (12:00 AM)
    
  </div>


  <!-- <div class="kpi-header">
    <span class="kpi-icon">
      <i class="ri-temp-hot-fill"></i>
    </span>
    <span class="kpi-title">{{metric}}</span>
  </div>

  <div>
    <app-stage-speed-guage></app-stage-speed-guage>
  </div>

  <div class="kpi-location">
    
    {{location}}
  </div>

  <div class="kpi-location">
    (20-05-26, 12:00 AM)
    
  </div> -->

</div>
