<div class="chart-card">
  <div class="card-header">Day</div>

  <div class="chart-scroll">
    <div class="chart-host">
      <app-basic-bar
        [xaxisData]="weeklyBarXData"
        [seriesData]="weeklyBarYData">
      </app-basic-bar>
    </div>
  </div>

  <div class="card-header">Parking Sensor</div>
</div>


<div class="chart-card">
  <div class="card-header">Day</div>

  <div class="chart-scroll">
    <div class="chart-host">
      <app-basic-bar
        [xaxisData]="weeklyBarXData"
        [seriesData]="weeklyBarYData">
      </app-basic-bar>
    </div>
  </div>

  <div class="card-header">Parking Sensor</div>
</div>
