/* .chart-container {
  width: 100%;
  height: 400px;
} */

.chart-wrapper {
  width: 100%;
  height: 100%;
  min-height: 0; /* VERY IMPORTANT inside cards */
}

.chart {
  width: 100%;
  height: 100%;
}